@using DoctorsAppointments.Models.DataBase
@using System.Web.Mvc.Html
@using DoctorsAppointments
@using System.ComponentModel.DataAnnotations;
@model Appointment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Добавление записи на прием к врачу";


}

<style>
.field-validation-error {
    color: #b94a48;
}
  
input.input-validation-error {
    border: 2px solid #b94a48;
}
input.valid {
    border: 2px solid #16a085;
}
 
.validation-summary-errors {
    color: #b94a48;
}
</style>

@using(Html.BeginForm())
{
    <fieldset>
        <legend>Запись на прием к врачу</legend>
        <p>
            <label asp-for="PatientId"></label><br />
            @Html.DropDownListFor(model => model.PatientId, ViewBag.Patients as SelectList, "Выбрать пациента")  
            <span asp-validation-for="PatientId"  />
        </p>
       <p>
            <label asp-for="DoctorId"></label><br />
            @Html.DropDownListFor(model => model.DoctorId, ViewBag.Doctors as SelectList, "Выбрать врача")    
            <span asp-validation-for="DoctorId"  />
        </p>
        
        <p>
           <label asp-for="DateAppointment"></label><br/>
           <input type="date" asp-for="DateAppointment"/>
           <span asp-validation-for="DateAppointment"/> 
        </p>
        <p>

           @Html.DropDownList("TimeAppointment","Выбрать время")
           <span asp-validation-for="TimeAppointment"  />
        </p>
        <p>
            <input type="submit" name="butdata" value="Записаться на прием" />
        </p>

    </fieldset>

    @Html.Raw(TempData["msg"])

}
