@using DoctorsAppointments.Models.DataBase
@model Profile
@{
    ViewBag.Title = "Добавление нового профиля";


}
@using(Html.BeginForm())
{
    <fieldset>
        <legend>Профиль</legend>
        <p>
            Название профиля <br/>
            @Html.EditorFor(model => model.Name)     
        </p>
        <p>
            Описание профиля <br/>
            @Html.TextAreaFor(model => model.Description)     
        </p>
        <p>
            <input type="submit" value="Добавить профиль" />
        </p>

    </fieldset>

}
