@using DoctorsAppointments.Models.DataBase
@model Doctor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Редактирование доктора</h2>
<form asp-action="EditDoctor" asp-controller="Data" asp-route-id="@Model.Id">
    <p>
        <label asp-for="FirstName">Имя</label>
        <input type="text" asp-for="FirstName"/>
    </p>
    <p>
        <label asp-for="Patronymic">Отчество</label>
        <input type="text" asp-for="Patronymic"/>
    </p>
    <p>
        <label asp-for="LastName">Фамилия</label>
        <input type="text" asp-for="LastName"/>
    </p>
     <p>
        <label asp-for="DateAge">Дата рождения</label>
        <input type="date" asp-for="DateAge"/>
    </p>
    <p>
        <label asp-for="Passport">Серия и номер паспорта</label>
        <input type="text" asp-for="Passport"/>
    </p>
    <p>
        Профиль <br/>
        @Html.DropDownListFor(model => model.ProfileId, ViewBag.Profiles as SelectList) 
    </p>
     <p>
        <label asp-for="Experience">Опыт</label>
        <input type="number" asp-for="Experience"/>
    </p>
    <p>
        <input type="submit" value="Изменить" />
    </p>


</form>